extends ../auth.layout.pug

block content
 .welcom
  .button
      a(href="#") Авторизоваться
  .center
    img(src="/assets/images/bg/UvfEDDe549U.jpg", alt="фото" ).avatar
    h1 Татьяна Пономарева
    p Личный сайт веб разработчика
    ul.socials
          -var socials = ['vk', 'gh', 'in']
          each item in socials
            li.socials__item
              a(href="#" class=`socials__link_${item}`).socials__link
    //- ul.welcom_vk
    //-   li.welcom_vk_item
    //-     a(href="#").welcom_vk_link
          
    //-       //- img(src="/assets/images/bg/vk.png", alt="" )
    //-   li.welcom_vk_item
    //-     a(href="#")
    //-       img(src="/assets/images/bg/in.png", alt="")
    //-   li.welcom_vk_item
    //-     a(href="#")
    //-       img(src="/assets/images/bg/gh.png", alt="")

    ul.welcom_me
      li.welcom_me_item_left 
        a(href="./work.html") мои работы
      li.welcom_me_item_centr
        a(href="./about.html") обо мне
      li.welcom_me_item_right  
        a(href="./blog.html") блог
  .bottom &copy;	Татьяна Пономарева | Созданно с любовью в LoftShool | 2018