extends ../auth.layout.pug

block content
 .welcom
  .button
      a(href="#").welcom__buttom Авторизоваться
  .center
    img(src="/assets/images/bg/UvfEDDe549U.jpg", alt="фото" ).avatar
    h1 Татьяна Пономарева
    p Личный сайт веб разработчика
    ul.socials
          -var socials = ['vk', 'gh', 'in']
          each item in socials
            li.socials__item
              a(href="#" class=`socials__link_${item}`).socials__link
   

    ul.welcom_me
      li.welcom_me_item_left 
        a(href="./work.html") мои работы
      li.welcom_me_item_centr
        a(href="./about.html") обо мне
      li.welcom_me_item_right  
        a(href="./blog.html") блог
  .bottom &copy;	Татьяна Пономарева | Созданно с любовью в LoftShool | 2018