extends ../auth.layout.pug

block content
 .preloader
  svg.preloader__icon(viewBox="0 0 144 144" width="144px" height="144px")
      circle(opacity="0.3" fill="none" stroke="#fff" stroke-width="4" cx="72" cy="72" r="60").loader_outside
      circle(opacity="0.6" fill="none" stroke="#fff" stroke-width="4" cx="72" cy="72" r="50").loader_middle
      circle(opacity="1" fill="none" stroke="#fff" stroke-width="4" cx="72" cy="72" r="40").loader_inside
      span.preloader__text
 .welcom
  .welcom__parallax
    //- .welcom__parallax_layer
    //-   img(src="/assets/images/bg/11.png", alt="").welcom__parallax_image
    .welcom__parallax_layer
      img(src="/assets/images/bg/12.png", alt="").welcom__parallax_image
    .welcom__parallax_layer
      img(src="/assets/images/bg/13.png", alt="").welcom__parallax_image
    .welcom__parallax_layer
      img(src="/assets/images/bg/14.png", alt="").welcom__parallax_image
    .welcom__parallax_layer
      img(src="/assets/images/bg/15.png", alt="").welcom__parallax_image
    .welcom__parallax_layer
      img(src="/assets/images/bg/16.png", alt="").welcom__parallax_image
    .welcom__parallax_layer
      img(src="/assets/images/bg/17.png", alt="").welcom__parallax_image
    .welcom__parallax_layer
      img(src="/assets/images/bg/18.png", alt="").welcom__parallax_image
    .welcom__parallax_layer
      img(src="/assets/images/bg/19.png", alt="").welcom__parallax_image
    .welcom__parallax_layer
      img(src="/assets/images/bg/20.png", alt="").welcom__parallax_image
  .welcom__btn
    .button
        a(href="#").welcom__buttom Авторизоваться
  .center
    .center__form
      .center__info
        img(src="/assets/images/bg/UvfEDDe549U.jpg", alt="фото" ).avatar
        h1 Татьяна Пономарева
        p Личный сайт веб разработчика
        ul.socials
          li.socials__item
            a(href="https://vk.com/id337442903" ).socials__link.socials__link_vk
          li.socials__item
            a(href="https://github.com/Tatyana1605" ).socials__link.socials__link_gh
          li.socials__item
            a(href="https://github.com/Tatyana1605" ).socials__link.socials__link_in
        ul.welcom_me
          li.welcom_me_item_left 
            a(href="./works.html") мои работы
          li.welcom_me_item_centr
            a(href="./about.html") обо мне
          li.welcom_me_item_right  
            a(href="./blog.html") блог
      .center__login
        form.form#form(action="https://webdev-api.loftschool.com/login" method="POST" novalidate)
          .form__subtitle
            .subtitle Авторизуйтесь
          .form__row
            label.form__input-label
              span.form__input-icon
                +icon('login', 'form__input-icon__login')
              input.form__input(aria-label="Введите логин" type="text", name="name", placeholder="Логин")
              .form__error
          .form__row
            label.form__input-label
              span.form__input-icon
                +icon('password', 'form__input-icon__password')
              input.form__input(aria-label="Введите пароль" type="password", name="password", placeholder="Пароль")
              .form__error
          .form__row
            label.form__label
              input.form__checkbox(type="checkbox", name="checkCaptcha" value="не робот")
              span.form__checkbox-custom
                +icon('check', 'form__checkbox-icon')
              span.form__label-text Я человек
              .form__error
          .form__row
            .form__row-title Вы точно не робот?
            label.form__label.form__label--radio
              input.form__radio(type="radio" name="radioCaptcha" value="yes")
              span.form__radio-custom
              span.form__label-text Да
            label.form__label.form__label--radio
              input.form__radio(type="radio" name="radioCaptcha" value="no" checked)
              span.form__radio-custom
              span.form__label-text Не уверен 
            .form__error  
          .form__row
            .form__list
              input.form__button.js-main-btn(type="button"  value="На главную")
              input.form__submit(type="submit" value="Войти")

        
  .bottom &copy;	Татьяна Пономарева | Созданно с любовью в LoftShool | 2018
  
    


