nav.nav
  a(href="#").nav__closes
    span.close
  ul.nav__tablets
    li.nav__item
      a(href="#").nav__menu
        .title.title_blog Мои работы
    li.nav__item
      a(href="#").nav__menu
        .title.title_blog Блог
    li.nav__item
      a(href="#").nav__menu
        .title.title_blog Обо мне
    li.nav__item
      a(href="#").nav__menu
        .title.title_blog Авторизация

    