extends ../main.layout.pug

block variables
  - var title = 'Мои работы'

block scripts
  script(src='works.bundle.js')

block content

  section.headercolor__work
    .header__picture
      .header__img
        img(src="./assets/images/bg/hero.jpg", alt="").header__image
      .header__top
        .header__top_left
          ul.socials
            li.socials__item
              a(href="https://vk.com/id337442903" ).socials__link.socials__link_white_vk
            li.socials__item
              a(href="https://github.com/Tatyana1605" ).socials__link.socials__link_white_gh
            li.socials__item
              a(href="https://github.com/Tatyana1605" ).socials__link.socials__link_white_in
            
        .header__top_right
          a(href="#").btn__nav
            span.btn__nav_decor
            span.btn__nav_decor
            span.btn__nav_decor
      .header__portfolio
        img(src="./assets/images/bg/header.png", alt="").portfolio__image
      .header__centr
        img(src="./assets/images/bg/UvfEDDe549U.jpg", alt="фото" ).avatar
        h1 Татьяна Пономарева
        p Личный сайт веб разработчика
      .header__bottom
        .arrow-down
          a(href="#" data-target="#el").arrow-down_btn
  section.work(id='el')
    //- .work__top 
    //-   svg.triangles(viewBox="0 0 1200 108", preserveAspectRatio="xMinYMax")
    //-     polygon(points="0,0 0,108 601,108 601,105").triangle.triangle_fill_white
    //-     polygon(points="1200,0 1200,108 599,108 599,105").triangle.triangle_fill_white
    .work__title
      .title Мои работы
    .work__slider
      #slider-component
      //- .work__slider_left
      //-   .subtitle Сайт школы онлайн
      //-   .subtitle_none образования
      //-   hr
      //-   .work__slider_title HTML CSS JS
      //-   hr
      //-   a(href="#").buttom__sait Посмотреть сайт
      //- .work__slider_right 
      //-   img(src="/assets/images/bg/2.png", alt="")
      //-   img(src="/assets/images/bg/3.png", alt="")
      //-   img(src="/assets/images/bg/4.png", alt="")
  section.work__tit
    .work__about_title 
      .title__header 
        .title Что обо мне говорят?
  section.work__about
    
    .work__comments
      .work__comment

        .work__comment_pic 	
        .work__comment_text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque unde blanditiis tempora ducimus est amet, aperiam, fuga vero, facilis autem error adipisci quae maxime laudantium doloremque nostrum consectetur? Sequi, blanditiis!
        .work__comment_com
          .work__comment_avatar
            img(src="/assets/images/bg/6.png", alt="")
          .work__comment_prof
            .work__comment_name Ковальчук Дмитрий
            .work__comment_works Основатель школы LoftSchool
      .work__comment
        .work__comment_pic
        .work__comment_text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque unde blanditiis tempora ducimus est amet, aperiam, fuga vero, facilis autem error adipisci quae maxime laudantium doloremque nostrum consectetur? Sequi, blanditiis!
        .work__comment_com
          .work__comment_avatar
            img(src="/assets/images/bg/7.png", alt="")
          .work__comment_prof
            .work__comment_name Ковальчук Дмитрий
            .work__comment_works Основатель школы LoftSchool
    .work__form
      form.form_work(method="post")
        .work__consol
        .work__form-centr
          .work__blur
            .subtitle Связаться со мной
            .form__row
              label(for="").form__block
                input(aria-label="Введите имя" type="text" name="name" placeholder="Имя" required).form__input
            .form__row
              label(for="").form__block
                input(aria-label="Введите email" type="email" name="email" placeholder="Email" required).form__input
            .form__row
              label(for="").form__block
                textarea( aria-label="Введите сообщение" name="message" placeholder="Ваше сообщение" cols="30" rows="10" required).form__textarea
            .form__row
              input(type="submit" value="Отправить").form__input_buttom
              input(type="reset" value="Очистить").form__input_buttom.form__input_buttom_clear
    .work__bottom
      .arrow-down
        a(href="#").arrow-down_btn
    
