extends ../main.layout.pug

block variables
  - var title = 'Мои работы'

block scripts
  script(src='works.bundle.js')

block content
  section.header
    .header__top
      .header__top_left
        ul.socials
          -var socials = ['vk', 'gh', 'in']
          each item in socials
            li.socials__item
              a(href="#" class=`socials__link_white_${item}`).socials__link.socials__link_white
          
      .header__top_right
        a(href="#").btn__nav
          span.btn__nav_decor
          span.btn__nav_decor
          span.btn__nav_decor
    .header__centr
      img(src="./assets/images/bg/UvfEDDe549U.jpg", alt="фото" ).avatar
      h1 Татьяна Пономарева
      p Личный сайт веб разработчика
    .header__bottom
      .arrow-down
        a(href="#").arrow-down_btn
  section.work
    //- .work__top 
    //-   svg.triangles(viewBox="0 0 1200 108", preserveAspectRatio="xMinYMax")
    //-     polygon(points="0,0 0,108 601,108 601,105").triangle.triangle_fill_white
    //-     polygon(points="1200,0 1200,108 599,108 599,105").triangle.triangle_fill_white
    .work__title
      .title Мои работы
    .work__slider
      .work__slider_left
        .subtitle Сайт школы онлайн
        .subtitle_none образования
        hr
        .work__slider_title HTML CSS JS
        hr
        a(href="#").buttom__sait Посмотреть сайт
      .work__slider_right 
        img(src="/assets/images/bg/2.png", alt="")
        img(src="/assets/images/bg/3.png", alt="")
        img(src="/assets/images/bg/4.png", alt="")
  section.work__about
    .work__about_title 
      .title__header 
        .title Что обо мне 
        .title_none говорят?
    .work__comments
      .work__comment
        
        .work__comment_text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque unde blanditiis tempora ducimus est amet, aperiam, fuga vero, facilis autem error adipisci quae maxime laudantium doloremque nostrum consectetur? Sequi, blanditiis!
        .work__comment_com
          .work__comment_avatar
            img(src="/assets/images/bg/6.png", alt="")
          .work__comment_prof
            .work__comment_name Ковальчук Дмитрий
            .work__comment_works Основатель школы LoftSchool
      .work__comment
        .work__comment_text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque unde blanditiis tempora ducimus est amet, aperiam, fuga vero, facilis autem error adipisci quae maxime laudantium doloremque nostrum consectetur? Sequi, blanditiis!
        .work__comment_com
          .work__comment_avatar
            img(src="/assets/images/bg/7.png", alt="")
          .work__comment_prof
            .work__comment_name Ковальчук Дмитрий
            .work__comment_works Основатель школы LoftSchool
    .work__form
      form(action="").form
        .work__consol
        .work__form-centr
          .subtitle Связаться со мной
          .form__row
            label(for="").form__block
              input(type="text" placeholder="Имя" required).form__input
          .form__row
            label(for="").form__block
              input(type="email" placeholder="Email" required).form__input
          .form__row
            label(for="").form__block
              textarea(name="comment", cols="30", rows="10" placeholder="Ваше сообщение" required).form__textarea
          .form__row
            input(type="submit" value="Отправить").form__input_buttom
            input(type="reset" value="Очистить").form__input_buttom.form__input_buttom_clear
    .header__bottom
      .arrow__down
        img(src="/assets/images/icons/arrow_down.svg", alt="")
    
