footer.footer
  .footer__row.foorer__row_top
      .footer__col
        nav.menu
          ul.menu__list 
            li.menu__item
              a(href="./works.html").menu__link Мои работы
            li.menu__item
              a(href="./blog.html").menu__link Блог
            li.menu__item
              a(href="./about.html").menu__link Обо мне
            li.menu__item
              a(href="./index.html").menu__link Авторизация
            
      .footer__col.footer__col_right
        ul.socials
          -var socials = ['vk', 'gh', 'in']
          each item in socials
            li.socials__item
              a(href="" class=`socials__link_footer_${item}`).social__link.social__link_footer
  hr(color="#949799" width="100%")
  .footer__row
    .footer__col
      .copyright
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam rem eum tempora debitis, natus expedita autem alias, earum dolores quos ipsam? Et ea autem, iste quas nisi soluta debitis id?
    .footer__col.footer__col_right
      .copyright
        p &copy;	Татьяна Пономарева | Созданно с любовью в LoftShool | 2018
  
 
