include ./common/_mixins

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | welcome page
    link(rel="stylesheet", href="main.min.css")
    script(src = "https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js")
  body
    
    block content

    script(src="auth.bundle.js")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")