include ./common/_mixins
block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    
    title Portfolio | #{title}
    link(rel='stylesheet' href='main.min.css')
    script(src = "https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFQaVKUAOdKasTQ71YN4AFYq-8ug_Li5g")

  body
    .wrapper
      .maincontent
    
        block content
      
        
      

      include ./common/footer.pug
      include ./components/_enerty.pug
      include ./common/nav.pug
      include ./common/_mixins.pug
      //- script(src='bootloader.bundle.js')
      //- script(src='vendor.bundle.js')
      //- script(src="skills.js")
      
    
      script(src='index.bundle.js')
      
      //- script(src="https://code.jquery.com/jquery-3.3.1.min.js")
      //- script(src="../assets/scripts/modules/parallax.js")



    block scripts

