
.svg-traingle .left{
  fill: #4CAF50;
}
.svg-traingle .right{
  fill: #ccc;
}
.about {
  height: 865px;
  display: flex;
  flex: 1;

  @media (max-width: 992px) {
    
    min-height: 1630px;
    height: 100%;
    align-items: center;
    flex-direction: column;
  }
  @media (max-width: 768px) {
    min-height: 1800px;
    height: 100%;
  }
}

// .about__top {
//   position: absolute;
//   margin-top: -150px;
//   width: 100%;
// }
// .triangle.triangle_fill_white {
//   fill: #efeee9;
// }

// .triangle.triangle_fill_beige {
//   fill: #eeebdf;
// }

.about__left {
  top: 0;
  left: 0;
  width: 50%;
  position: relative;
  background: #efeee9;
  display: flex;
  align-items: end;
  overflow: hidden;

  @media (max-width: 1800px) {
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 992px) {
    width: 100%;
  }
}

.about__triangle {
  position: absolute;
  bottom: 100%;
}
.about__title {
 width: 45%;
 background: url('/assets/images/bg/8.png') no-repeat;
 height: 100%;
 padding-top: 45px;
 text-align: center;
 @media (max-width: 1800px)  {
     width: 80%;
     padding-top: 65px;
     margin-top: -35px;
     background-position: center;
  }
}
.about__desc {
 width: 55%;
 padding: 10px;
    @media (max-width: 1800px)  {
     width: 80%;
     text-align: center;
     padding-top: -40px;
  }
}
.user-desc__title {
  text-align: center;
  margin-bottom: 30px;

}
.user-desc__text {

  @media (max-width: 1800px) {
    text-align: left;
  }
}



.about__right {
  
  top: 0;
  right: 0;
  width: 50%;
  position: relative;
  background: #eeebdf;
  padding: 10px;
  @media (max-width: 992px) {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;

  }
}

.about__right_title {
  text-align: center;
}
.about__info {
  height: 80%;
  
  
}

.skills {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.skills-row__list {
  display: flex;
  align-items: center;
}

.skills-row__title {
  font-size: 28px;
  font-weight: bold;
}


.contacts {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  // background: url('../assets/images/bg/map.png') center center / cover no-repeat
}

.contacts__conteiner {
  width: 380px;
  height: 290px;
  background: #fff;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  
  @media (max-width: 768px) {
    top: 0;
    left: 0;
    display: block;
    transform: none;
    width: 100%;
    opacity: 0.9;
  }
    

}

.user-data__title {
  margin: 30px auto;
  text-align: center;
}


.user-data__container {
  margin-left: 40px;
}

.user-contacts-list__item {
  margin-bottom: 20px;
}

.contacts-cell {
  display: flex;
}

.contacts-cell__icon {
  height: 30px;
  width: 30px;

}

.contacts-cell__icon_skype {
  background: svg-load('skype.svg', fill=#00bea4) center center no-repeat;
  
  } 

.contacts-cell__icon_mail {
   background: svg-load('envelope.svg', fill=#00bea4) center center no-repeat;
  }
.contacts-cell__icon_tel {
    background: svg-load('phone.svg', fill=#00bea4) center center no-repeat;
  }

.contacts-cell__icon_adress {
    background: svg-load('map_marker.svg', fill=#00bea4) center center no-repeat;
  }
  
.contacts-cell__title {
  margin: auto 10px;
  color: black;

}