.blog {
 height: calc(100% - 150px);
//  min-height: 600px;
 display: flex;
 align-items: flex-start;
 

  @media (max-width: 992px) {
    height: calc(100% - 235px);
    
  }

  @media (max-width: 768px) {
    height: calc(100% - 260px);
    
  }
//  flex-direction: column;
}


.triangle_fill_abswhite {
  fill: white;
}



.blog__left {
  // width: 350px;
  width: 35%;
  height: 100%;
  // padding: 60px 120px;
  // @include tablets {

  // }

  // @media (max-width: 992px) {
  //   display: none;
    
  // }
}

.aside__list {
  padding-top: 100px;
}

.aside__item {
  text-align: right;
  padding-bottom: 25px;
  &:hover{
    cursor: pointer;
  }
  &:hover,
  &.active {
    text-align: right;
    border-right: 2px solid #00bfa5;
    color: #00bfa5;
    padding: 10px;
  }
  @media (max-width: 992px) {
    &:hover,
   &.active {
    
    color: #ffffff;
   }
  }
  
}

.aside__blog {
  
  width: 80%;
  position: sticky;
  top: 0;

  &.fixed {
    position: fixed;
    top: 0;
    width: 20%;

    @media (max-width: 992px) {
      width: 80%;
      
    }
  
  }
  @media (max-width: 992px) {
  position: fixed;
  top: 0;
  left: -80%;
  height: 100%;
  background-color: #00bfa5;
  box-shadow: 4px 0 4px rgba(#000, .2);
  z-index: 20;
  color: rgba(#ffffff, .8);
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &_active {
    left: 0;
  }
  }

}
// .aside__blog_mobile {
//   top: 0;
//   left: 0;
//   width: 80%;
//   height: 100%;
//   background-color: #00bfa5;
//   box-shadow: 4px 0 4px rgba(#000, .2);
//   z-index: 20;
//   color: rgba(#ffffff, .8);
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
    

// }

// .aside__item_mobile {
//   &:hover,
//   &.active {
    
//     color: #ffffff;
//   }
// }

.aside__blog-button {
   display: none;
  //     @include offBtnStyle;
  @media (max-width: 992px) {
    display: block;
    background-color: #00bfa5;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 4px 0 4px rgba(#000, .2);
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
    outline: none;
  }
  
}

.blog__right {
  // padding-top: 60px;
  padding-right: 15%;
  width: 80%;
  padding-bottom: 160px;

  @media (max-width: 992px) {
    padding-bottom: 240px;
    padding-right: 24px;
    padding-left: 24px;
    width: 100%;
  }

  @media (max-width: 768px) {
    padding-bottom: 270px;
    
  }  
}
.article {
  padding: 20px 0 50px 0;
}
.blog__title {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  color: #373e42;
  padding-bottom: 25px;
  padding-top: 70px;
}

.blog__data {
  color: #00bfa5;
  padding-bottom: 25px;
}


