.blog__top {
  position: absolute;
  margin-top: -150px;
  width: 100%;
}


.triangle_fill_abswhite {
  fill: white;
}

.blog__bottom {
  display: flex;
  align-items: center;
}

.blog__left {
  width: 30%;
}