.footer {
  background: #555b5e;
  opacity: 0.8;
  height: 150px;
  margin-top: -150px;
  display: flex;
  flex-direction: column;
  flex: 1;
  

  @media (max-width: 992px) {
    height: 235px;
    margin-top: -235px;
  }

  @media (max-width: 768px) {
    height: 260px;
    margin-top: -265px;
  }
  
}

.footer__row.foorer__row_top {
  height: 50%;
  display: flex;
  align-items: center;

  // @media (max-width: 992px), (max-width: 768px) {
  //   justify-content: center;
  //   flex-direction: column;
  // }

  

}
.footer__col {
  width: 50%;

  @media (max-width: 992px), (max-width: 768px)  {
    width: 95%;
    display: flex;
    justify-content: center;
  }
}

.menu {
  width: 100%;
}
.menu__list {
  display: flex;
  @media (max-width: 992px) {
    justify-content: center; 
  }
   
}

.menu__item {
  margin-left: 40px;
  color: #ffffff;
  opacity: 1;
  &:first-child{
    margin-left: 0;
  }
  &:hover{
    
  }
}
.menu__link:hover {
  color: #00bfa5;
}

.menu {
  @media (min-width: 768px), (min-width: 480px) {
    margin-bottom: 15px;
  }
}
.footer__row {
 padding: 0 15px;
  display: flex;
  align-items: center;

  @media (max-width: 992px), (max-width: 768px) {
    justify-content: center;
    flex-direction: column;
  }

}
.copyright {
  color: white;
  @media (max-width: 992px), (max-width: 768px) {
    text-align: center;
  }
}
.footer__col.footer__col_right {
  float: right;
  display: flex;
    justify-content: flex-end;

    @media (max-width: 992px), (max-width: 768px) {
      justify-content: center;
      
    }
}