.title__header {
  font-size: 63px;
  text-transform: uppercase;
  font-weight: bold;
}

.subtitle,
.subtitle_none {
  font-size: 29px;
  text-transform: uppercase;
  font-weight: bold;
  color: #373e42;
}

.subtitle::after, 
.subtitle::before {
  content: '';
  display: inline-block;
  height: 6px;
  width: 20px;
  background-color: #d5d6d7;
  margin: 10px;
}

.title {
  // background: url('/assets/images/bg/8.png') center center no-repeat;
  font-size: 63px;
  text-transform: uppercase;
  font-weight: bold;
  color: #373e42;
  &_blog {
    color: white;
  }
}

.title::after, 
.title::before {
  content: '';
  display: inline-block;
  height: 6px;
  width: 20px;
  background-color: #d5d6d7;
  margin: 20px;
}

