.title__header {
  font-size: 63px;
  text-transform: uppercase;
  font-weight: bold;
}

.subtitle,
.subtitle_none {
  font-family: 'bernier';
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  color: #373e42;
  text-align: center;
}

.subtitle::after, 
.subtitle::before {
  
  content: '';
  display: inline-block;
  height: 6px;
  width: 20px;
  background-color: #d5d6d7;
  margin: 10px;
}
.blog__title {
  font-family: 'bernier';
  font-size: 35px;
  text-transform: uppercase;
  
  color: #455a64;
  
}

.title {
  // background: url('/assets/images/bg/8.png') center center no-repeat;
  font-family: 'bernier';
  font-size: 63px;
  text-transform: uppercase;
  font-weight: bold;
  color: #373e42;
  text-align: center;
  &_blog {
    color: white;
  }
}

.title::after, 
.title::before {
  content: '';
  display: inline-block;
  height: 6px;
  width: 20px;
  background-color: #d5d6d7;
  margin: 20px;
}

