.welcom {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: url('../assets/images/bg/hero.jpg') center center / cover no-repeat;
  
}

.welcom__btn {
  display: flex;
  flex-direction: row-reverse; 
  padding-top: 25px;
  padding-right: 25px;
  @include phone {
    padding-top: 10px;
    padding-right: 0;
    justify-content: center;
  }
}

.button {
  // margin-top: 25px;
  // margin-right: 100px;
  padding: 15px 30px;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  float: right;

  &:hover {
    background: white;
    color: #058980;
    cursor: pointer;

    .welcom__buttom {
      color: #00bfa5;
      font-weight: bold;
    }
  }

}
.welcom__buttom:hover {
  color: #00bfa5;
  font-weight: bold;
}

.center {
  height: 395px;
  width: 380px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: white;
  opacity: 0.9;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

 
}

.avatar {
  height: 145px;
  width: 145px;
  border-radius: 50%;
  // overflow: hidden;
  margin: 40px auto 20px;
   &.norm{
     border-radius: 0;
     height: 390px;
     width: 440px;
   }
}



.welcom_me {
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  
}

.welcom_me_item_left {
  background-color: #06ac98;
  border-radius: 0 0 0 10px;
  padding: 20px 32px 20px 33px;

  
  &:hover {
    background-color: #058980;
    cursor: pointer;
  }
}

.welcom_me_item_centr {
  background-color: #06ac98;
  
  padding: 20px 32px 20px 31px;
  
  &:hover {
    background-color: #058980;
    cursor: pointer;
  }
}

.welcom_me_item_right {
  background-color: #06ac98;
  border-radius: 0 0 10px 0;
  padding: 20px 32px;
  
  &:hover {
    background-color: #058980;
    cursor: pointer;
  }
}

.bottom {
  bottom: 40px;
  left: 0;
  position: absolute;
  color: white;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  @include phone {
    left: 0;
    margin-right: 0;
    transform: none;
    text-align: center;
  }
}

.center__login {
  height: 395px;
  width: 380px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgba( #fff, 0.9);
  opacity: 0;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  &__activ {
    top: 50%;
    opacity: 0.9;
  }
}

.form__block {
  border-radius: 3px;
  border: white;
  outline: none;

  height: 45px;
  width: 90%;
}

.form__input_login {
  border-radius: 3px;
    border: #fff;
    outline: none;
    height: 45px;
    width: 90%;
}

.form__input_sub {
  display: inline-block;
    border: 0;
    background: #26bbaa;
    color: #fff;
    border-radius: 0 0 0 5px;
    padding: 13px 40px;
    cursor: pointer;
    width: 50%;
    bottom: 0;
    position: absolute;
    left: 0;

  &_sub {
    border-radius: 0 0 5px 0;
    right: 0;
    left: 50%;
  }
}