.preloader {
  background: url('/assets/images/bg/bg1.jpg') center center / cover no-repeat;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom:0;
  z-index: 80;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader__icon {
    transform: rotate(-90deg);
}
.loader_outside {
    stroke-dasharray: 377;
}
.loader_middle {
    stroke-dasharray: 314;
}
.loader_inside {
    stroke-dasharray: 251;
}
.preloader__text {
    position: absolute;
    top: 49%;
    left: 49%;
    color: white;
}

.welcom {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  min-width: 50%;
  // background-color: #8fb8ba;
  background: url('../assets/images/bg/11.png') center center / cover no-repeat;
  
}
.welcom__parallax {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.welcom__parallax_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welcom__parallax_image {
  position: absolute;
  
  width: 120%;
  height: 80%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


.welcom__btn {
  position: absolute;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
  
 @media (max-width: 768px ) {
    padding-top: 10px;
    padding-right: 0;
    justify-content: center;
  }
}

.button {
  // margin-top: 25px;
  // margin-right: 100px;
  padding: 15px 30px;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  float: right;

  &:hover {
    background: white;
    color: #058980;
    cursor: pointer;

    .welcom__buttom {
      color: #00bfa5;
      font-weight: bold;
    }
    
  }

}
.welcom__buttom:hover {
  color: #00bfa5;
  font-weight: bold;
}

.center {
  height: 395px;
  width: 380px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  perspective: 1000px;

 
}

.center__form {
  position: relative;
  transition: 0.5s;
  transform-style: preserve-3d;

  
}

// .center:hover .center__form {
//   transform: rotateY(180deg);
// }

.center__form-activ {
  transform: rotateY(180deg);
}

// .button:hover .center__form {
//   transform: rotateY(180deg);
// }


.center__info,
.center__login {
  height: 395px;
  width: 380px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #e8edef;
  opacity: 0.8;
  border-radius: 10px;
}

.center__info {
  backface-visibility: hidden;
  vertical-align: middle;
  
}
.center__login {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.avatar {
  height: 145px;
  width: 145px;
  border-radius: 50%;
  // overflow: hidden;
  margin: 40px auto 20px;
   &.norm{
     border-radius: 0;
     height: 400px;
     width: 435px;
   }
}



.welcom_me {
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  
}

.welcom_me_item_left {
  background-color: #06ac98;
  height: 100%;
  flex: 1;
  opacity: 0.8;
  border-radius: 0 0 0 10px;
  // padding: 20px 32px 20px 33px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  &:hover {
    background-color: #058980;
    cursor: pointer;
  }
}

.welcom_me_item_centr {
  background-color: #06ac98;
  height: 100%;
  flex: 1;
  opacity: 0.8;
  // padding: 20px 32px 20px 31px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &:hover {
    background-color: #058980;
    cursor: pointer;
  }
}

.welcom_me_item_right {
  background-color: #06ac98;
  border-radius: 0 0 10px 0;
  height: 100%;
  flex: 1;
  opacity: 0.8;
  // padding: 20px 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &:hover {
    background-color: #058980;
    cursor: pointer;
  }
}



.form__subtitle {
  padding-top: 40px;

}

.form__row-pas::before {
  
    font-family: "FontAwesome";
    content: "\f084";
    position: absolute;
    font-size: 24px;
    color: #c4cbcd;
    background-color: #f0efe9;
    // padding: 10px;
    width: 35px;
    height: 35px;
    padding: 5px;
  
}

.form__row-log::before {
  
  font-family: "FontAwesome";
  content: "\f007";
  position: absolute;
  font-size: 24px;
  color: #c4cbcd;
  background-color: #f0efe9;
  width: 35px;
    height: 35px;
    padding: 5px;
}

.form__block {
  border-radius: 3px;
  border: white;
  outline: none;

  height: 45px;
  width: 90%;
}

.form__input_login,
.form__input_name {
  border-radius: 3px;
    border: #fff;
    outline: none;
    height: 45px;
    width: 90%;
    background-color: #fff;
    // margin-left: 30px;
    padding-left: 60px;
    
}
.form__row_people  {
  display: flex;
  flex-direction: column;
  // padding-top: 20px;
}

.form__piople {
  font-weight: 700;
   padding-bottom: 10px;
}

.form__radio_text {
  padding-right: 40px;
}


.form__input_sub {
  display: inline-block;
    border: 0;
    background: #26bbaa;
    color: #fff;
    border-radius: 0 0 0 5px;
    padding: 20px 40px;
    cursor: pointer;
    width: 50%;
    bottom: 0;
    // position: absolute;
    left: 0;

  &_sub {
    border-radius: 0 0 5px 0;
    right: 0;
    left: 50%;
  }

  &:hover{
    background: #058980;
  }
}




.bottom {
  bottom: 40px;
  left: 0;
  position: absolute;
  color: white;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  @include phone {
    left: 0;
    margin-right: 0;
    transform: none;
    text-align: center;
  }
}





.form {
  height: 395px;
  width: 380px;
  background: #e8edef;
  opacity: 0.8;
  border-radius: 10px;
  
  margin: 0 auto;
  position: relative;
  &--bg_color {
    background-color: rgba(#dadbd6, 1);
  }
  &__row {
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;

    position: relative;
    &:last-child {
      margin-bottom: 0;
      margin-left: -20px;
      margin-right: -20px;
    }
    &-title {
      
      color: #85939b;
      width: 100%;
      margin-bottom: 10px;
      text-align: center;
    }
  }
  &__list {
    display: flex;
    width: 380px;
    // height: 40px;
    z-index: 2;
  }
  &__item {
    
    width: 50%;
  }
  &__link {
    display: block;
    
    text-decoration: none;
    color: #a8abad;
    padding: 12px 0;
  }
  &__submit,
  &__reset {
    background: #26bbaa;
    color: #fff;
    width: 100%;
    height: 45px;
    border: none;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 2px solid rgba(#26bbaa, .5);
    &:last-child {
      border: none;
    }
  }
  &__button {
    background: #26bbaa;
    color: #fff;
    width: 100%;
    border-left: none;
    border-top: none;
    border-bottom: none;
  }
  &__label {
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    margin: 0 20px;
    width: 100%;
    justify-content: center;

   

    &--radio{
      width: auto
    }
    &-text {
      color: #85939b;
    }
  }
  &__input {
    z-index: 2;
    
    width: 85%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    &--reviews {
      width: 100%;
      border-radius: 25px;
    }
    &::placeholder {
      color: rgba($grey, .5);
    }
    &-label {
      display: flex;
      width: 100%;
      // flex-wrap: wrap;
      justify-content: center;
      &--error {
        .form__error {
          display: block;
          width: 255%;
        }
        
        .form__input {
          border: 1px solid #e44845;
          &-icon {
            svg {
              fill: #e44845
            }
          }
        }
      }
      &--success {
        .form__input {
          border: 1px solid $green;
          &-icon {
            svg {
              fill: $green
            }
          }
        }
      }
    }
    &-icon {
      position: relative;
      color: #c4cbcd;
      background-color: #f0efe9;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      width: 35px;
      height: 100%;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &__login,
      &__password {
        fill: #c4cbcd;
      }
      &__login {
        width: 20px;
        height: 20px;
      }
      &__password {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__error {
    display: none;
    margin-left: 10px;
    background-color: #e44845;
    width: 80%;
    
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    // position: relative;
    top: 15px;
    text-align: center;
    transition: 1s;
    &_check {
      display: flex;
    }
    &-triangle {
      
      position: absolute;
      top: 5px;
      left: 33%;
      border-top: 15px solid transparent;
    	border-right: 15px solid #e44845;
    	border-bottom: 15px solid transparent;
      
      transform: translateX(-50%);
    }
  }
  &__textarea {
    z-index: 2;
    
    border-radius: 25px;
    width: 100%;
    resize: none;
    border-color: transparent;
    min-height: 140px;
    &::placeholder {
      color: rgba($grey, .5);
    }
  }
  &__radio {
    display: none;
    &-custom {
      display: inline-block;
      width: 21px;
      height: 20px;
      background-color: #ffffff;
      border: 1px solid #ccc;
      border-radius: 50%;
      position: relative;
      margin-right: 10px;
    }
    &:checked+&-custom::before {
      content: "";
      display: block;
      position: absolute;
      width: 9px;
      height: 9px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $green;
      border-radius: 50%;
      margin: auto;
    }
    &:checked+&-custom+.form__label-text {
      color: rgba($green, .8);
    }
  }
  &__checkbox {
    display: none;
    &-custom {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 2px;
      margin-right: 10px;
    }
    &-icon {
      display: block;
      position: absolute;
      width: 12px;
      height: 9px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      fill: #fff;
      margin: auto;
    }
    &:checked+&-custom {
      background-color: $green;
    }
  }
}