.color__works {
  background-color: #faf8f0;

}

.work__top {
  position: absolute;
  margin-top: -150px;
  width: 100%;
}

.work__title {
  height: 188px;
  width: 100%;
  background: url('./assets/images/bg/9.png') center center no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faf8f0;
}


.work__slider {
  height: 750px;
  display: flex;
  align-items: center;
  flex: 1;

  @include tablets {
    height: 1000px;
  }

}



.work__about {
  text-align: center;
  position: relative;
    top: 0;
    left: 0;
    height: 1290px;
    width: 100%;
    background: url('./assets/images/bg/5.png') center center no-repeat;
    
    @include phone {
      height: 1355px;
    }
}

.work__about_title  {
  background: url('./assets/images/bg/8.png') center no-repeat;
  height: 240px;
  padding-top: 35px;
  text-align: center;
  // margin-bottom: 70px;
}

.title__header {
  width: 370px;
  margin: 0 auto;
}
.work__comments {
  width: 60%;
  margin: auto;
  display: flex;
  padding-bottom: 70px;
  

  @include tablets {
    width: 95%;
  }

  @include phone {
    flex-direction: column;
  }
}

.work__comment {
  padding-right: 20px;

}
.work__comment_pic {
  // padding: 0 12px;
  display: flex;
  padding-top: 50px;

  &:before {
    font-family: "FontAwesome";
    content: "\201c";
    color: #d5d7d8;
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
  }
}
.work__comment_text {
  text-align: left;
  padding-bottom: 25px;
}
.work__comment_com {
  display: flex;
}

.work__comment_avatar {
  padding-right: 20px;
}
.work__comment_prof {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #26bbaa;
}

.work__comment_name {
  padding-bottom: 15px;
  font-weight: bold;
}
.work__form {
  height: 440px;
  width: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.form {
  height: 440px;
  width: 385px;
  overflow: hidden;
  position: relative;
  
}

.work__consol {
  background: url('./assets/images/bg/5.png') center no-repeat;
  filter: blur(20px);
  // background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
.work__form-centr {
  position: relative;
  z-index: 2;
} 
.form__row {
  margin-top: 20px;

}

.form__input {
  border-radius: 3px;
  border: white;
  outline: none;

  height: 45px;
  width: 90%;
   &_buttom {
     width: 50%;
     color: #26bbaa;
   }
   
}

.form__textarea {
  resize: none;
  border-radius: 3px;
  border: white;
  outline: none;

  
  width: 90%;
}

.form__input_buttom {
  display: inline-block;
  border: 0px;
  background: #26bbaa;
  color: white;
  border-radius: 0 0 0 5px;
  padding: 13px 40px;
  cursor: pointer;
  &_clear {
    border-radius: 0 0 5px 0;
    background: #268c8b;
  }
}

.work__bottom {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  transform: rotate(180deg);
}